---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <a href="/">ホームに戻る</a>
    <a href="/about/">概要 </a>
    <a href="/blog/">ブログ</a>
    <h1>私について</h1>
    <h2>経歴</h2>
    <h3>１社目</h3>
    <p>グラフィックデザイナー</p>
    <h3>２社目</h3>
    <p>企画・マーケティング</p>
    <h3>現在</h3>
    <p>システムエンジニア</p>
    <h2>スキルセット</h2>
    <h3>プログラミング言語</h3>
    <ul>
      <li>JavaScript</li>
      <li>PHP</li>
      <li>Laravel</li>
      <li>HTML/CSS</li>
      <li>Astro</li>
    </ul>
    <h3>デザインツール</h3>
    <ul>
      <li>Adobe Photoshop</li>
      <li>Adobe Illustrator</li>
      <li>Figma</li>
    </ul>
    <h2>趣味</h2>
  </body>
</html>
